---
layout: default
---

<br>
<div style="font-size:3em;">About Me</div>
<div style="font-size:1.5em;">Hello, I'm Chandra!</div>
<br>
<img src="https://github.com/chandra-gummaluru/chandra-gummaluru.github.io/raw/master/media/profile4.png" alt="profile photo" width="280"/>

I am currently a graduate student in the Systems Control Group within the Department of Electrical and Computer Engineering at the University of Toronto.
<br><br>
You can find a brief summary of my professional history below. For more details or resources, please see the associated pages.
<br>
<img src="https://github.com/chandra-gummaluru/chandra-gummaluru.github.io/raw/master/assets/signature.svg" alt="signature" width="150"/>

<hr>
<div style="width:100%;">
  chandra.gummaluru@gmail.com<br>
  <a href="https://www.linkedin.com/in/chandra-gummaluru/">linkedin.com/in/chandra-gummaluru</a>
</div>
<hr>

<head>
<meta charset='UTF-8'><meta name='viewport' content='width=device-width initial-scale=1'>
<title>Resume</title>
<style>
p.entry{
font-size:50px;
}
</style></head>
<body><div style="line-height:4px"><p style="font-size:28px;text-align:center;">Chandra Gummaluru</p><p style="font-size:18px;text-align:center;">Machine Learning Engineer</p><hr> <p style="text-align:center;">647-907-9818 | chandra.gummaluru@gmail.com | chandra-gummaluru.github.io </p><hr></div><div style="line-height:1px"><p style="sect">Experience</p></div>
<p class="entry"><b>Artificial Intelligence Lecturer</b> | University of Toronto, DCS, UTIAS <span style="float:right;">Jan 2021 - Present</span>
</p>
<ul>
<li>Lectured <strong>1000+ undergraduate students</strong> across <strong>7 courses</strong> covering topics in Algorithms, Data Science, Supervised/Unsupervised Learning, Reinforcement Learning, Probabilistic Reasoning, Computer Vision</li>
<li>Exceeded departmental performance in course evaluations and achieved <strong>5/5 overall instructional quality</strong></li>

</ul>
<p style="entry"><b>Computer Vision Research Assistant</b> | Bernhardt-Walther Lab <span style="float:right;">Apr 2020 - Sep 2021</span>
</p>
<ul>
<li>Trained <strong>2 CNN models</strong> using <strong>OpenCV</strong> and <strong>PyTorch</strong> to perform inpainting from an incomplete image and a complete outline, powering a new edge-detection algorithm that achieved an F1 score <strong>1.5x</strong> higher than existing models like gPb and DexiNed</li>
<li>Co-authored a paper called “Contour-guided Image Completion with Perceptual Grouping”, which was published in the British Machine Vision Conference of 2021</li>

</ul>
<p style="entry"><b>Software Engineer</b> | Coursera <span style="float:right;">Sep 2019 - Sep 2020</span>
</p>
<ul>
<li>Led a team of <strong>8 engineers</strong> in developing a payment system in <strong>Scala</strong> to support international transactions for Coursera&#39;s enterprise product, used by <strong>50+ organizations</strong></li>
<li>Implemented and maintained <strong>20+ RESTful APIs</strong> that enable sales teams to provide promotions and discounts to their clients, employing CI/CD principles using <strong>Jenkins</strong>, and perf</li>

</ul>
<p style="entry"><b>Software Engineering Intern</b> | Harward <span style="float:right;">Apr 2019 - Aug 2019</span>
</p>
<ul>
<li>Developed an automated system that performs ETL operations on financial data, reducing manual data processing time by <strong>80%</strong>, using <strong>Python</strong>, <strong>SQL</strong>, and <strong>Apache Airflow</strong></li>

</ul>
<div style="line-height:1px"><hr><p style="sect">Projects</p></div>
<p style="entry"><b>Intelligent Ground Vehicle Competition Robot</b><span style="float:right;">May 2019 - Dec 2020</span>
</p>
<ul>
<li>Engineered <strong>2 CNN models</strong> to identify common road obstacles given 3D point-clouds from LIDAR sensors to augment Simultaneous Localization and Mapping (SLAM) algorithms</li>

</ul>
<p style="entry"><b>Generative Deep Learning Model for Instrumentals</b><span style="float:right;">May 2019 - Dec 2020</span>
</p>
<ul>
<li>Trained <strong>an RNN model</strong> to generate instrumentals for a vocal track for <strong>up to 30 seconds</strong></li>

</ul>
<div style="line-height:1px"><hr><p style="sect">Education</p></div>
<p style="entry"><b>MSc Computer Engineering (AI/ML) </b> | University of Toronto <span style="float:right;"></span></p>
<p style="entry">BSc Computer Engineering </b> | University of Toronto <span style="float:right;"></span></p
<div style="line-height:1px"><hr><p style="sect"">Skills</p></div>
<table style="border-style:none;padding:0;border-collapse: collapse;">
  <tr style="border-style:none;background-color: #ffffff;">
    <td style="border-style:none;padding:0;">Python (12 yrs)</td>
    <td style="border-style:none;padding:0;">Java (10 yrs)</td>
    <td style="border-style:none;padding:0;">C++ (8 yrs)</td>
    <td style="border-style:none;padding:0;">Scala (5 yrs)</td>
    <td style="border-style:none;padding:0;">SQL (3 yrs)</td>
  </tr>
  <tr style = "border-style:none;background-color: #ffffff;">
    <td style="border-style:none;padding:0;">PyTorch (5 yrs)</td>
    <td style="border-style:none;padding:0;">OpenCV (3 yrs)</td>
    <td style="border-style:none;padding:0;">Pandas (3 yrs)</td>
    <td style="border-style:none;padding:0;">scikit-learn (2 yrs)</td>
    <td style="border-style:none;padding:0;">Airflow (2 yrs)</td>	
  </tr>
</table>
<div style="line-height:1px"><hr><p style="sect">Certifications</p></div>
<p><strong>Machine Learning in Production</strong> (DeepLearning.AI), <strong>Machine Learning Specialization</strong> (DeepLearning.AI)</p>
</body>
</html>

<hr>
