---
layout: default
---

<br>
<div style="font-size:3em;">About Me</div>
<div style="font-size:1.5em;">Hello, I'm Chandra!</div>
<br>
<img src="https://github.com/chandra-gummaluru/chandra-gummaluru.github.io/raw/master/media/profile4.png" alt="profile photo" width="280"/>

I am currently a graduate student in the Systems Control Group within the Department of Electrical and Computer Engineering at the University of Toronto.
<br><br>
You can find a brief summary of my professional history below. For more details or resources, please see the associated pages.
<br>
<img src="https://github.com/chandra-gummaluru/chandra-gummaluru.github.io/raw/master/assets/signature.svg" alt="signature" width="150"/>

<hr>
<div style="width:100%;">
  chandra.gummaluru@gmail.com<br>
  linkedin.com/in/chandra-gummaluru
</div>
<hr>

<h1 id="experience">Experience</h1>
<p>
    <strong>Artificial Intelligence Lecturer</strong> | University of Toronto DCS, UTIAS <br>
    <em>Jan 2021 - Present</em>
</p>
<ul>
    <li>
        <p>Lectured <strong>1000+ undergraduate students</strong> across <strong>7 courses</strong> covering topics in Algorithms, Data Science, Supervised/Unsupervised Learning, Reinforcement Learning, Probabilistic Reasoning, Computer Vision</p>
    </li>
    <li>
        <p>Exceeded departmental performance in course evaluations and achieved <strong>5/5 overall instructional quality</strong></p>
    </li>
</ul>

<p>
    <strong>Computer Vision Research Assistant</strong> | Bernhardt-Walther Lab <br>
    <em>Apr 2020 - Sep 2021</em>
</p>
<ul>
    <li>
        <p>Trained <strong>2 CNN models</strong> using OpenCV and PyTorch (on CPUs and on GPUs with CUDA) to perform inpainting from an incomplete image and a complete outline</p>
    </li>
    <li>
        <p>Wrote a new edge-detection algorithm with an F1 score (precision and recall) <strong>1.5x</strong> higher in comparison to existing algorithms such as gPb and DexiNed</p>
    </li>
    <li>
        <p>Co-authored the paper “Contour-guided Image Completion with Perceptual Grouping” published in BMVC 2021 presenting the new models</p>
    </li>
</ul>

<p>
<strong>Software Engineer</strong> | Coursera <br>
<em>Sep 2019 - Sep 2020</em>
</p>
<ul>
    <li>
        <p>Led a team of <strong>8 engineers</strong> in developing a payment system in Scala to support international transactions for Coursera&#39;s enterprise product, used by <strong>50+ organizations</strong></p>
    </li>
    <li>
        <p>Implemented and maintained <strong>20+ RESTful APIs</strong> to enable sales teams to provide promotions and discounts to their clients</p>
    </li>
</ul>

<p><strong>Machine Learning Team Lead</strong> | U of T Robotics Association
    May 2019 - Dec 2020</p>
<ul>
    <li>
        <p>Engineered <strong>2 CNN models</strong> to identify common road obstacles given 3D point-clouds from LIDAR sensors to augment a Simultaneous Localization and Mapping (SLAM) algorithms</p>
    </li>
    <li>
        <p>Performed graphical processing 2D images, 3D mesh models, and stereographic image pairs</p>
    </li>
</ul>

<hr>

<h1 id="experience">Publications</h1>
<p>
  
<em>Contour-guided Image Completion with Perceptual Grouping</em><br>
M. Rezanejad*, S. Gupta* , <strong>C. Gummalaru</strong>, R. Marten, J. Wilder, M. Gruninger, D.Walther <br>
Published to BMVC 2021
</p>

<hr>

<h1 id="education">Education</h1>
<p>
    <strong>MSc Computer Engineering</strong> | University of Toronto <br>
    <em>Sep 2021 - Apr 2024</em>
</p>
<p>
    <strong>BSc Computer Engineering</strong> | University of Toronto <br>
    <em>Sep 2016 - Apr 2021</em>
</p>

<hr>

<h1 id="education">Skills</h1>
<table style="width:100%">
  <tr>
    <td>Python</td>
    <td>NumPy/SciPy</td>
    <td>Java</td>
  </tr>
  <tr>
      <td>C/C++</td>
    <td>PyTorch</td>
    <td>MATLAB</td>
  </tr>
  <tr>
      <td>OpenCV</td>
      <td>Scala</td>
    <td>CUDA</td>
  </tr>
  <tr>
    <td>Pandas</td>
    <td>Google Cloud</td>
      <td>ROS</td>
  </tr>
</table>




<hr>
