---
layout: default
---

<br>
<div style="font-size:3em;">About Me</div>
<div style="font-size:1.5em;">Hello, I'm Chandra!</div>
<br>
<img src="https://github.com/chandra-gummaluru/chandra-gummaluru.github.io/raw/master/media/profile4.png" alt="profile photo" width="290"/>

I am currently a graduate student in the Systems Control Group within the Department of Electrical and Computer Engineering at the University of Toronto.
<br><br>
You can find my resume below. If you are having trouble viewing it, click <a href="/assets/resume_default_jul_24.pdf">here</a>. Please feel free to contact me by email at chandra.gummaluru@gmail.com.

<img src="https://github.com/chandra-gummaluru/chandra-gummaluru.github.io/raw/master/assets/signature.svg" alt="signature" width="150"/>

<hr>

<div class="tip" markdown="1">

  # Experience


**Machine Learning Instructor** | University of Toronto, UTIAS, DCS
Jan 2021 - Present
-   Lectured **1000+ undergraduate students** across **7 courses** covering topics in Algorithms, Data Science, Supervised/Unsupervised Learning, Reinforcement Learning, Probabilistic Reasoning, Computer Vision

-   Exceeded departmental performance in course evaluations and achieved **5/5 overall instructional quality**
    

**Artificial Intelligence Research Student** | University of Toronto
Jan 2021 - Apr 2024

-   Developed a scalable mathematical framework (using Q-learning) to simulate routing decisions of self-interested autonomous vehicles and simulate the resulting traffic
    
-   Trained a deep neural network in PyTorch to estimate travel demand patterns decreasing the estimation error by **1.24x** in comparison to existing estimation algorithms
    
-   Reduced simulation commute times by **25%** using the new framework

  
**Computer Vision Research Assistant** | Bernhardt-Walther Lab 
Apr 2020 - Sep 2021

-   Trained **2 CNN models** using OpenCV and PyTorch (on CPUs and on GPUs with CUDA) to perform inpainting from an incomplete image and a complete outline
    
-   Wrote a new edge-detection algorithm with an F1 score (precision and recall) **1.5x** higher in comparison to existing algorithms such as gPb and DexiNed
    
-   Co-authored the paper “Contour-guided Image Completion with Perceptual Grouping” published in BMVC 2021 presenting the new models
    
**Software Engineer** | Coursera 
Sep 2019 - Sep 2020

-   Led a team of **8 engineers** in developing a payment system in Scala to support international transactions for Coursera's enterprise product, used by **50+ organizations**
    
-   Implemented and maintained **20+ RESTful APIs** to enable sales teams to provide promotions and discounts to their clients

  
**Machine Learning Team Lead** | U of T Robotics Association
May 2019 - Dec 2020

-   Engineered **2 CNN models** to identify common road obstacles given 3D point-clouds from LIDAR sensors to augment a Simultaneous Localization and Mapping (SLAM) algorithms
    
-   Performed graphical processing 2D images, 3D mesh models, and stereographic image pairs
  
</div>

<hr>
